* {
  box-sizing: border-box;
}

body {
  margin: 1em;
  font-family: "Fira-sans", sans-serif;
}

.data {
  background: ghostwhite;
  padding: 1rem;
}

.button {
  -webkit-font-smoothing: antialiased;
  border: none;
  margin: 0 .5rem 20px;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  background-color: #005ce4;
  font-family: inherit;
}

.mb-20 {
  margin-bottom: 20px;
}